h1 {
    
    text-shadow:2 2 #ffffff;
}
header{
    Background-color: #80ffbf;
    height: 128px;
    text-align: center;
    line-height: 5;
}
h2{
    text-align:center;
}

h3{
    text-align:center;
    
}

P{
    
    width:500px;
    text-align:center;
    padding-left: 370;
}

ul {
    text-align:center;
    padding:0 0 0 0;
}
.nav{
    display:inline-block;
    padding:30px;
    
}

body {
    background-image: url('./Images/Background_image_website.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;  
    background-size:cover;
    margin-bottom:30px;
    
    
    
    
   
}
section {
    background-color:#660066;
    background-color: rgba(102,0,102,0.5);
    color: #000000;
    
}