h1 {
    
    text-shadow:2 2 #ffffff;
}
h2{
    text-align:center;
}

h3{
    text-align:center;
    
}

P{
    
    width:500px;
    text-align:center;
    padding-left: 370;
}
body {
    background-color: #00ffff;
}
ul {
    text-align:center;
    padding:0 0 0 0;
}

