h1 {
    
    text-shadow:2 2 #ffffff;
}
header{
    height: 128px;
    text-align: center;
    line-height: 5;
}
h2{
    text-align:center;
}

h3{
    text-align:center;
    
}

P{
    
    width:500px;
    text-align:center;
    padding-left: 370;
}
body {
   
}
ul {
    text-align:center;
    padding:0 0 0 0;
}
header{
    Background-color: #80ffbf;
    
}
